<div class="blog-list-container">
<!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="blog-item">
        <div class="image-container">
            <img src="{{ post.image }}" class="image img-fluid d-block"/>
        </div>
        <div class="blog-content">
            <a href="{{ post.url }}" class="d-block text-decoration-none blog-title-link">
                <h2 class="blog-title">{{ post.title }}</h2>
            </a>
            <span class="d-block blog-category">Category: {{ post.category }}</span>
            <p class="d-block blog-description">{{ post.description }}</p>
            <span class="d-block blog-author">Authors: {{ post.author }}</span>
            <a href="{{ post.url }}" class="blog-link">Read More »</a>
        </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
        <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ '/' | relative_url }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
    </div>
    {% endif %}
</div>