body{
    background-color: #1b1448;
}

#blog{
    position: relative;
    min-height: calc(82vh - 65px);

    .container{
        max-width: 1240px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 64px;
        margin-bottom: 64px;

        .blog-list-container{
            background-color: #0b043a;

            &.blog-specific{
                .blog-item{
                    border: none;
                }
            }

            .blog-item{
                padding: 3em;
                border-bottom: 1px solid #938db9;

                .content-container{
                    img{
                        display: block;
                        max-width: 100%;
                        width: 60%;
                        height: auto;
                        vertical-align: middle;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 15px;
                    }
                }

                .image-container{
                    margin-bottom: 1.5em;

                    .image{
                        width: 700px;
                        height: 360px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .blog-title-link{
                    color: #fff;
                    transition: all .2s linear;
                    -webkit-transition: all .2s linear;
                    -mos-transition: all .2s linear;
                    -o-transition: all .2s linear;
                    -ms-transition: all .2s linear;

                     &:hover{
                        color: #905cff;
                    }

                    .blog-title{
                        font-family: 'Poppins', sans-serif;
                        line-height: 1.3;
                        font-size: 1.875rem;
                        margin-bottom: 0.5em;
                        font-weight: 400;
                        letter-spacing: -1px;

                    }
                }

                .blog-category{
                    line-height: 1.8;
                    margin-bottom: 1.2em;
                }

                .blog-category{
                    color: #8750fc;
                    line-height: 1.45;
                    margin-bottom: 1.2em;
                }

                .blog-author{
                    color: #c3c0d8;
                    margin-bottom: 1.2em;
                }

                .blog-link{
                    color: #8750fc;
                    text-decoration: none;
                    margin-top: 1.5em;
                    margin-bottom: .8em;
                    transition: all .2s linear;
                    -webkit-transition: all .2s linear;
                    -mos-transition: all .2s linear;
                    -o-transition: all .2s linear;
                    -ms-transition: all .2s linear;

                     &:hover{
                        color: #905cff;
                    }
                }
            }
        }

        .pagination{
            position: relative;
            padding-top: 2em;

            .side-link{
                width: auto;
                display: inline-block;
                padding: 0 1.5em;
                height: 2.33333em;
                line-height: calc(2.33333em - 3px);
                font-size: 1.06666rem;
                font-weight: 500;
                color:#8750fc;
                text-decoration: none;
            }

            .side-text{
                width: auto;
                display: inline-block;
                padding: 0 1.5em;
                height: 2.33333em;
                line-height: calc(2.33333em - 3px);
                font-size: 1.06666rem;
                font-weight: 500;
                color: #fff;
                opacity: 0.3;
            }

            .pagination-item{
                em{
                    color: #fff;
                    border-color: #8750fc;
                    background-color: #8750fc;
                    display: inline-block;
                    width: 2.33333em;
                    height: 2.33333em;
                    font-size: 1.06666rem;
                    line-height: calc(2.33333em - 3px);
                    font-weight: 500;
                    font-style: normal;
                    text-decoration: none;
                    text-align: center;
                }

                a{
                    color: #8750fc;
                    display: inline-block;
                    width: 2.33333em;
                    height: 2.33333em;
                    font-size: 1.06666rem;
                    line-height: calc(2.33333em - 3px);
                    font-weight: 500;
                    font-style: normal;
                    text-decoration: none;
                    text-align: center;
                }
            }
        }

        .sidebar-container{
            padding-left: 30px;

            .recent-post-container{
                .header{
                    font-size: 1.7rem;
                    margin-bottom: 0.7em;
                    font-weight: 700;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.2em;
                    letter-spacing: -1px;
                }

                ul{
                    li{
                        a{
                            display: block;
                            color: #8750fc;
                            margin-bottom: 15px;
                            text-decoration: none;
                            transition: all .2s linear;
                            -webkit-transition: all .2s linear;
                            -mos-transition: all .2s linear;
                            -o-transition: all .2s linear;
                            -ms-transition: all .2s linear;

                            &:hover{
                                color: #905cff;
                            }
                        }
                    }
                }
            }
        }
    }    
}

.page-link{
    margin-right: 15px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    border-style: solid;
    border: 1px solid #8750fc;
    background-color: #8750fc;
    color: #fff;
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
    font-size: 1rem;
    border-radius: 0;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -mos-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    text-decoration: none;

    &:hover{
        background-color: #fff;
        color: #8750fc;
        border-color: #8750fc;
    }
}