body{
    background-color: #0b043a;
    color: #fff;
}

.container{
    max-width: 1140px;
}

nav{
    // .navbar-brand{
    //     color: #fff;
    // }

    // .navbar-nav{
    //     .navbar-item{
    //         .nav-link{
    //             color: #fff;
    //         }
    //     }
    // }
}

.icon{
    height: 20px;
    width: 20px;
    filter: invert(1);
}

