body{
    background-color: #0b043a;
    color: #fff;
    font-family: "Lato", Sans-serif;
}

.container{
    max-width: 1140px;
}

nav{
    background-color: #0b043a;

    .container{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1240px;

        .navbar-brand{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.875rem;
            max-width: 198px;
            white-space: normal;
            margin-right: 0;
            line-height: 1.2;
        }

        .nav-item{
            .nav-link{
                padding: 0 1em;
                font-size: 16px;
                color: #c3c0d8;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;

                &:hover{
                    color: #fff;
                }   
            }
        }

        .nav-button-container{
            .button-link{
                text-decoration: none;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 26px;
                padding-right: 26px;
                font-weight: 600;
                font-size: 1rem;
                border: 1px solid #fff;
                color: #fff;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;

                &:hover{
                    color: #905cff;
                    background-color: #fff;
                }
            }
        }
    }
}

footer{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    

    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.icon{
    height: 20px;
    width: 20px;
    filter: invert(1);
}

.no-gutter{
    padding-left: 0;
    padding-right: 0;
}

.divider{
    position: relative;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.header-container{
    padding-bottom: 40px;

    .header{
        margin-bottom: 0;
    }
}

