#cover{
    position: relative;
    .intro-container{
        .intro-header{
            font-family: "Poppins", Sans-serif;
            font-size: 62px;
            font-weight: 700;
            padding-top: 80px;
            padding-bottom: 70px;

            .intro-description{
                padding: 10px 0px 0px 0px;
                font-family: "Lato", Sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
            }
        }
    }

    .intro-video-container{
        padding-top: 80px;
        padding-bottom: 70px;
        height: 100%;
        overflow: hidden;
        transform: translateZ(0);

        .intro-button-container{
            margin-top: 20px;

            .intro-button{
                border: 1px solid #fff;
                padding: 20px 30px 20px 30px;
                font-size: 16px;
                color: #fff;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;
                text-decoration: none;

                &:hover{
                    background-color: #fff;
                    color: #8750FC;
                    border-color: #8750FC;
                }
            }
        }
    }
}

#about{
    position: relative;
    padding-bottom: 80px;

    .about-container{
        .about-image-container{
            .about-image{
                max-width: 350px;
                width: 100%;
                box-shadow: -39px 55px 0px 6px rgba(25,19,70);
            }

            .social-media-container{
                align-self: flex-start;
                margin-left: 58px;
            }
        }

        .about-content-container{
            .about-header{
                font-family: 'Poppins';
                font-size: 32px;
                font-weight: 500;
                line-height: 1.2;
                padding-bottom: 20px;
            }
            .about-description{
                margin-bottom: 1.6em;
                line-height: 1.8;
            }
        }
    }
}

#blog{
    position: relative;

    .header-container{
        padding-top: 25px;
        padding-bottom: 10px;

        .header{
            font-family: "Poppins", Sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2em;
        }
    }
    .blog-list-container{
        padding-top: 20px;
        padding-bottom: 50px;
        
        .blog-item{
            .card{
                position: relative;
                background-color: #1b1448;
                margin-bottom: 20px;

                .image-container{
                    position: relative;

                    .image{
                        position: relative;
                        padding: 20px;
                        overflow: hidden;
                        display: block;
                        border-radius: 10px;
                        outline: 0;
                        object-fit: cover;
                        object-position: center;
                        width: 350px;
                        height: 250px;
                    }
                    .date-container{
                        left: -10px;
                        position: absolute;
                        bottom: 30px;
                        top: auto;

                        .date-tag{
                            background-color: #8750FC;
                            width: auto;
                            height: auto;
                            border-radius: 0;
                            padding-left: 22px;
                            padding-right: 12px;
                            position: relative;
                            display: flex;
                            font-size: 12px;
                            text-align: center;
                            color: #fff;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            margin-left: 4px;

                            &::before{
                                color: #6228DE;
                                border-width: 5px;
                                left: 0%;
                                top: -6px;
                                border-right: solid #6228DE;
                                border-left: solid transparent;
                                position: absolute;
                                content: "";
                                border-bottom: solid #6228DE;
                                border-top: solid transparent;
                                box-sizing: border-box;
                            }
                            .date-wrapper{
                                margin: 7px 0;
                                display: block;
                                line-height: 1;
                                width: 100%;
                                font-size: 12px;
                                text-align: center;
                                
                                strong{
                                display: block;
                                font-size: 22px;
                                font-weight: 900;
                                line-height: 1;
                                margin-bottom: 2px;
                                }
                            }
                        }
                    }
                }
                

                .card-body{
                        background-color: #1b1448;
                        border-width: 1px 1px 1px 1px;
                        padding: 20px 40px 40px;
                    .card-title{
                        font-size: 18px;
                        margin-bottom: 28px;
                        line-height: 1.2;
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif;
                        letter-spacing: -1px;
                    }
                    .card-link{
                        background-color: #1b1448;
                        border-style: solid;
                        border-width: 1px 1px 1px 1px;
                        border-radius: 1px;
                        font-size: 15px;
                        padding: 15px 30px;
                        display: inline-block;
                        color: #fff;
                        position: relative;
                        display: inline-block;
                        line-height: 1;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        white-space: nowrap;
                        vertical-align: middle;
                        text-align: center;
                        -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                        text-decoration: none;

                        &:hover{
                            background-color: #fff;
                            color: #8750FC;
                            border-color: #8750FC;
                        }
                    }
                }
            }
        }
    }
}

#publication{
    position: relative;

    .section-container{
        padding-top: 50px;
        padding-bottom: 50px;

        .header-container{
            .header{
                font-family: "Poppins", Sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 1.2em;
            }
        }

        .filters-button-group{
            margin-bottom: 20px;
            
            .filter-button{
                background-color: #1b1448;
                border: 1px solid #fff;
                padding: 6px 15px;
                margin: 3px 3px 15px;
                font-size: 13px;
                line-height: 1.8;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 6px 15px;
                cursor: pointer;
                font-weight: normal;
                color: #fff;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;
                text-decoration: none;

                &:hover, &.is-checked{
                    background-color: #8750fc;
                    border: 1px solid #8750fc;
                }
            }
        }

        .grid{
            .publication-container{
                .left-section{
                    .image-container{
                        .image{
                            border-radius: 6px;
                        }
                    }
                }
                .right-section{
                    padding-left: 30px;

                    .content-container{
                        .date{
                            font-size: 20px;
                            line-height: 0.9em;
                            letter-spacing: 0px;
                            font-family: 'Poppins';
                            font-weight: 700;
                        }

                        .title{
                            margin-bottom: 8px;
                            margin-top: 12px;
                            margin-left: 0px;
                            margin-right: 0px;
                            font-family: 'Poppins';
                            font-weight: 700;
                            font-size: 19px;
                            line-height: 1.35em;
                        }

                        .authors{
                            color: #c3c0d8;
                            margin: 0;
                            font-size: 14px;
                        }

                        .publication-link{
                            margin-top: 15px;
                            display: inline-block;
                            text-decoration: none;
                            border-style: solid;
                            border: 1px solid #8750fc;
                            background-color: #8750fc;
                            color: #fff;
                            font-weight: 700;
                            line-height: 26px;
                            font-size: 16px;
                            font-size: 1rem;
                            border-radius: 0;
                            padding-top: 16px;
                            padding-right: 32px;
                            padding-bottom: 16px;
                            padding-left: 32px;
                            transition: all .2s linear;
                            -webkit-transition: all .2s linear;
                            -mos-transition: all .2s linear;
                            -o-transition: all .2s linear;
                            -ms-transition: all .2s linear;
                            text-decoration: none;

                            &:hover{
                                background-color: #fff;
                                color: #8750fc;
                                border-color: #8750fc;
                            }
                        }
                    }
                }

                .publication-divider{
                    width: 100%;
                    border: 1px solid #938db9;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
        }

        .publication-page-container{
            padding-bottom: 50px;
            text-align: center;

            .publication-link{
                margin-top: 15px;
                display: inline-block;
                text-decoration: none;
                border-style: solid;
                border: 1px solid #8750fc;
                background-color: #8750fc;
                color: #fff;
                font-weight: 700;
                line-height: 26px;
                font-size: 16px;
                font-size: 1rem;
                border-radius: 0;
                padding-top: 16px;
                padding-right: 32px;
                padding-bottom: 16px;
                padding-left: 32px;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;
                text-decoration: none;

                &:hover{
                    background-color: #fff;
                    color: #8750fc;
                    border-color: #8750fc;
                }
            }   
        }

        .counter-container{
            padding-top: 80px;
            padding-bottom: 80px;
            
            .item-container{
                border-right: 1px solid #fff;
                padding: 25px;
                justify-content: space-around;
                align-items: center;

                .counter-number{
                    font-size: 64px;
                    font-weight: 400;
                    line-height: 1;

                    &.filler{
                        min-width: 75px;
                    }

                    &.fillerPlus{
                        min-width: 150px;
                    }

                    .extra{
                        margin-left: -10px;
                    }
                }

                .counter-text{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.2em;
                }

                &.no-border{
                    border: none !important;
                }
            }
        }
    }
}

#team{
    position: relative;

    .header-container{
        padding-top: 40px;
        padding-bottom: 40px;

        .header{
            font-family: "Poppins", Sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2em;
        }
    }

    .member-container{
        padding-top: 40px;
        padding-bottom: 40px;

        .member-item{
            padding-top: 15px;
            padding-bottom: 15px;

            .member-image{
                width: 135px;
                height: 135px;
                object-fit: cover;
                object-position: center;
                margin-bottom: 20px;
            }

            .member-name{
                font-family: "Poppins", Sans-serif;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 0.3px;
                margin-bottom: 10px;
            }

            .member-title{
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    .team-page-container{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;

        .team-link{
            margin-top: 15px;
            display: inline-block;
            text-decoration: none;
            border-style: solid;
            border: 1px solid #8750fc;
            background-color: #8750fc;
            color: #fff;
            font-weight: 700;
            line-height: 26px;
            font-size: 16px;
            font-size: 1rem;
            border-radius: 0;
            padding-top: 16px;
            padding-right: 32px;
            padding-bottom: 16px;
            padding-left: 32px;
            transition: all .2s linear;
            -webkit-transition: all .2s linear;
            -mos-transition: all .2s linear;
            -o-transition: all .2s linear;
            -ms-transition: all .2s linear;
            text-decoration: none;

            &:hover{
                background-color: #fff;
                color: #8750fc;
                border-color: #8750fc;
            }
        }   
    }
}

#join-us{
    position: relative;
    padding-top: 130px;
    padding-bottom: 80px;

    .left-section{
        .join-link{
            font-family: "Poppins", Sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2em;
            color: #8750fc;
        }
    }
    .right-section{

    }
}