#cover{
    position: relative;
    .intro-container{
        .intro-header{
            font-family: "Poppins", Sans-serif;
            font-size: 62px;
            font-weight: 700;
            padding-top: 80px;
            padding-bottom: 70px;

            .intro-description{
                padding: 10px 0px 0px 0px;
                font-family: "Lato", Sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
            }
        }
    }

    .intro-video-container{
        padding-top: 80px;
        padding-bottom: 70px;
        height: 100%;
        overflow: hidden;
        transform: translateZ(0);

        .intro-button-container{
            margin-top: 20px;

            .intro-button{
                border: 1px solid #fff;
                padding: 20px 30px 20px 30px;
                font-size: 16px;
                color: #fff;
                transition: all .2s linear;
                -webkit-transition: all .2s linear;
                -mos-transition: all .2s linear;
                -o-transition: all .2s linear;
                -ms-transition: all .2s linear;
                text-decoration: none;
            }
        }
    }
}

#about{
    position: relative;
    padding-bottom: 50px;

    .about-container{
        .about-image-container{
            .about-image{
                max-width: 350px;
                width: 100%;
                box-shadow: -39px 55px 0px 6px rgba(25,19,70);
            }

            .social-media-container{
                align-self: flex-start;
                margin-left: 58px;
            }
        }

        .about-content-container{
            .about-header{
                font-family: 'Poppins';
                font-size: 32px;
                font-weight: 500;
                line-height: 1.2;
                padding-bottom: 20px;
            }
            .about-description{
                margin-bottom: 1.6em;
                line-height: 1.8;
            }
        }
    }
}