<div class="section-container container">
    <div class="intro-about-container w-100 row">
        <div class="about-image-container col-md-4">
            <img src="{{ site.data.setting.about-image }}" class="img-fluid d-block"/>
        </div>
       
        <div class="about-content-container col-md-8">
            <h3 class="about-header">{{ site.data.setting.about-header }}</h3>
            <p class="about-description">{{ site.data.setting.about-description }}</p>
        </div>
    </div>
</div>
