<div class="section-container container">
    <div class="header-container">
        <h2 class="text-center header">{{ site.data.setting.blog-news-header }}</h2>
    </div>
    <div class="blog-list-container row">
        {% for post in site.posts %}
        <div class="col-lg-4 col-md-6 blog-item">
            <div class="card">
                <div class="image-container">
                    <img src="{{ post.image }}" class="card-img-top image" alt="...">
                    <div class="date-container">
                        <div class="date-tag">
                            <span class="date-wrapper">
                                <strong>{{ post.date | date: '%d' }}</strong>
                                {{ post.date | date: '%b' }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="{{ post.url }}" class="card-link">Learn more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
