---
layout: default
title: Home
css: >
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet">
javascript: >
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript">
        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.publication-item',
            sortBy: 'date',
            sortAscending: false,
        });

        // filter functions
        var filterFns = {
        // show if number is greater than 50
            numberGreaterThan50: function() {
                var number = $(this).find('.number').text();
                return parseInt( number, 10 ) > 50;
            },
        };

        // bind filter button click
        $('.filters-button-group').on( 'click', 'button', function() {
            var filterValue = $( this ).attr('data-filter');
            // use filterFn if matches value
            filterValue = filterFns[ filterValue ] || filterValue;
            $grid.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $('.button-group').each( function( i, buttonGroup ) {
            var $buttonGroup = $( buttonGroup );
            $buttonGroup.on( 'click', 'button', function() {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $( this ).addClass('is-checked');
            });
        });

        // Only trigger publication counter on page offset view
        $triggerCounter = 0;
        $(window).on('scroll', function(){
            const yScrollPos = window.pageYOffset;
            const scrollPosTrigger = 3600;
            if(yScrollPos >= scrollPosTrigger && $triggerCounter == 0) {
                $('.count').each(function () {
                    $(this).prop('Counter',0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 2500,
                        easing: 'linear',
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                });
                $triggerCounter = 1;
            }
        });
        
        
    </script>
---
{{ content }}