<div class="section-container container">
    <div class="about-container">
        <div class="row">
            <div class="col-md-6 left-section">
                <div class="about-header-container">
                    <h2 class="about-header">{{ site.data.teamPage.about-header }}</h2>
                </div>
            </div>
            <div class="col-md-6 right-section">
                <div class="about-description-container">
                    <p class="about-description">{{ site.data.teamPage.about-description }}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>