<div class="section-container container">
    <div class="header-container">
        <h2 class="text-center header">{{ site.data.teamPage.member-header }}</h2>
    </div>

    <div class="member-container">
        <div class="row">
            {% for member in site.data.setting.team %}
            <div class="member-item col-md-3 d-flex flex-column align-items-center">
                <img src="{{ member.image }}" class="member-image img-fluid d-block">
                <span class="member-name d-block">{{ member.name }}</span>
                <span class="member-title d-block">{{ member.title }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
